body {
    background-image: url("Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h4, h1 {
    color: #2A044A;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

h4 {
    padding-bottom: 15px;
}

/* Main Container*/
.boxcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px 50px;
    padding: 25px 10px;
    background: #FAF9F6;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    color: #333;
    border-radius: 10px;
}

.container {
    padding: 25px;
    margin: inherit;
}


.drag-and-drop-area {
    border: 3px dashed rgba(42, 4, 74, 0.4);
    border-radius: 5px;
    cursor: pointer;

}

/* BTN Styling*/

.btn-style {
    background-color: #2A044A;
    border: #2A044A;
    align-content: center;
}

.btn-style:hover {
    background-color: #a0c55f;
    border: #a0c55f;
}


